<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-uwpbackbutton"
    version="0.0.3">
    <name>Cordova Plugin UWPBackbutton</name>
    <description>Hides the UWP Back Button on windows 10 platform</description>
    <author>Sedat Kilinc</author>
    <license>MIT</license>
    <keywords>cordova, UWP, back, button, hide, hidden, remove</keywords>
    <repo>https://github.com/bambam2174/cordova-plugin-uwpbackbutton.git</repo>
    <issue>https://github.com/bambam2174/cordova-plugin-uwpbackbutton/issues</issue>
    
    <js-module name="UWPBackbutton" src="www/plugin.js">
        <clobbers target="cordova.plugins.UWPBackbutton" />
    </js-module>

    <platform name="windows">
        <js-module src="src/windows/UWPBackbuttonProxy.js" name="UWPBackbuttonProxy">
            <runs />
        </js-module>
    </platform>
   
</plugin>
